<nav
  class="navbar navbar-expand-lg navbar-light bg-light"
  role="navigation"
  aria-label="navigation">

  <a
    class="navbar-brand mr-auto"
    routerLink="/">
    DataKom
  </a>

  <ul class="navbar-nav">

    <li
      class="nav-item"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      <a
        class="nav-link"
        routerLink="/">
        Hjem
      </a>
    </li>

    <li class="nav-item"
        routerLinkActive="active">
      <a
        class="nav-link"
        routerLink="uddannelser">
        Uddannelser
      </a>
    </li>

    <li class="nav-item"
        routerLinkActive="active">
      <a
        class="nav-link"
        routerLink="elevtype">
        Elevtype
      </a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link">
        Fag
      </a>
    </li>

  </ul>
</nav>
