<footer class="bg-light text-white fixed-bottom">
  <div class="container-fluid d-flex">
    <div class="col-md-6 col-sm-9">
      <a
        class="navbar-brand text-center"
        href="https://sde.dk"
        rel="noopener"
        target="_blank">
        <img
          class="footer-brand-logo"
          src="/assets/images/svg/sde-full-logo.svg"
          alt="Syddansk Erhvervskole logo">
      </a>
    </div>
    <div class="col-md-6 col-sm-3">
      <p class="text-muted text-right">
        Prototype
      </p>
    </div>
  </div>
</footer>
