<footer class="bg-light text-white">
  <div class="container-fluid d-flex">
    <div class="col-md-6">
      <a
        class="navbar-brand text-center"
        href="https://sde.dk"
        rel="noopener"
        target="_blank"
        title="Klik her for at gå til SDEs hjemmeside"
        role="link">
        <img
          class="footer-brand-logo"
          src="/assets/images/svg/sde-full-logo.svg"
          alt="Syddansk Erhvervskole logo">
      </a>
    </div>
    <div class="col-md-6 text-right">
      <a
        href="https://juul.xyz"
        class="navbar-brand footer-branding"
        rel="noopener"
        target="_blank"
        title="Klik her for at gå til Martins hjemmeside"
        role="link">
        Udviklet af Martin Juul
      </a>
    </div>
  </div>
</footer>
