<div class="row">
  <div class="table-responsive mb-5">

    <table class="table table-striped">

      <caption *ngIf="caption">{{ caption }}</caption>

      <thead>
      <tr class="bg-orange text-white">
        <th scope="col" *ngFor="let heading of headings">{{ heading }}</th>
      </tr>
      </thead>

      <tfoot>
      <tr class="bg-orange text-white">
        <th scope="col" *ngFor="let footer of footers">{{ footer }}</th>
      </tr>
      </tfoot>

      <tbody>
      <tr *ngFor="let column of columns" app-table-row [row]="column">
      </tr>
      </tbody>

    </table>

    <accordion>
      <accordion-group
        heading="Hovedforløbets indhold"
        [isOpen]="isFirstOpen"
        [panelClass]="panelClass">
        <ng-container *ngFor="let accordion1 of accordions">
          <ng-container *ngFor="let accordion of accordion1">
            <div class="row mt-5 border-bottom" >
              <div>
                <p class="text-uppercase m-0 d-inline-block">
                  <span class="course-no d-block d-sm-inline-block m-auto text-center mr-sm-1">{{ accordion.course_no }}</span> <span
                  class="course-name font-weight-bold h5">{{ accordion.course_name }}</span>
                  <span class="course-duration d-sm-inline">- Antal uger {{ accordion.course_duration }}</span>
                </p>
              </div>
            </div>
            <div class="row mt-1">
              <div class="col">
                <p class="text-uppercase text-muted font-weight-bold">Skole</p>
                <p>
                  {{ accordion.school_attendance_desc }}
                </p>
              </div>
              <div class="col border-left">
                <p class="text-uppercase text-muted font-weight-bold">Praktik</p>
                <p>
                  {{ accordion.internship_desc }}
                </p>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </accordion-group>
    </accordion>

  </div>

</div>
