.jumbotron-fluid {
  color: #1d1d1d;
  height: 320px;
}

.page-title {
  font-weight: 700;
}

.spacer {
  height: 104%;
}

.title-bg {
  background-color: hsla(0, 0%, 100%, 0.5);
  padding-bottom: 1px;
}
