<div class="jumbotron jumbotron-fluid">

  <div class="container-fluid spacer"></div>

  <div class="container-fluid title-bg">
    <div class="container">

      <h1 class="page-title">Elevtyper</h1>

    </div>
  </div>

</div>

<div class="container">

<div class="card-columns">
  <div class="card text-white {{ card.color }}" *ngFor="let card of cards">
    <div class="card-body">
      <h5 class="card-title">{{ card.name }}</h5>
      <p class="card-subtitle color-text-muted">{{ card.subtitle }}</p>
      <div class="card-text" [innerHTML]="card.description | markdown"></div>
    </div>
  </div>
</div>

</div>
