.jumbotron-fluid {
  background: url('/assets/images/headers/educations-header.jpg') no-repeat fixed center -70px;
  color: #1d1d1d;
  height: 320px;
}

.page-title {
  font-weight: 700;
}

.spacer {
  height: 104%;
}

.title-bg {
  background-color: hsla(0, 0%, 87%, 0.6);
  padding-bottom: 1px;
}

.card-subtitle {
  margin-bottom: 5px;
}
