<div class="container d-flex justify-content-center">

  <app-edu-picker-menu
    class="justify-content-center"
    [beforeText]="tableBeforeText"
    [buttons]="buttons"></app-edu-picker-menu>

</div>

<div class="container d-flex mt-4 flex-column" *ngIf="eduTypes">

  <app-edu-cards
    class="justify-content-center"
    [studentTypes]="eduTypes"></app-edu-cards>

</div>

<div class="container d-flex mt-5 mb-5 flex-column" *ngIf="tables">

  <app-edu-picker-table
    [tables]="tables"></app-edu-picker-table>

</div>
