<div *ngIf="buttons">
  <div class="container d-flex justify-evenly flex-column flex-md-row">
    <button
      *ngFor="let button of buttons; index as i"
      (click)="selected(button?.emit, i)"
      [class.active]="clickedIndex === i"
      class="btn {{ button?.color || getButtonColor(i) }} mt-2 mt-md-0">
      {{ button?.label }}
    </button>

  </div>
</div>

<ng-template [ngIf]="isClicked == false">
  <h3 class="text-center mt-4">
    Vælg elevtype
  </h3>
  <p class="color-text-muted text-center">
    <a title="Åbner ny fane" target="_blank" href="/elevtyper">Læs mere om elevtyper her.</a>
  </p>
</ng-template>
