<div class="jumbotron jumbotron-fluid">

  <div class="container">

    <h1 class="display-4">Data- og kommunikationsuddannelsen</h1>
    <p class="lead">Vil du være med på IT? Så se hvilken uddannelse der passer dig herunder.</p>

  </div>

</div>

<div class="container d-flex justify-content-center">

  <div
    class="justify-content-between">

    <button
      class="btn btn-primary home-edu-select">
      IT-Supporter
    </button>

    <button
      class="btn btn-danger home-edu-select">
      Datatekniker / Infrastruktur
    </button>

    <button
      class="btn btn-success home-edu-select">
      Datatekniker / Programmering
    </button>

  </div>

</div>

<div class="container d-flex">

  <div class="table-responsive">



  </div>

</div>
