<div class="jumbotron jumbotron-fluid">

  <div class="container">

    <h1 class="display-4">Data- og kommunikationsuddannelsen</h1>
    <p class="lead">Bliv en af danmarks kommende talenter indenfor IT.</p>

  </div>

</div>

<div class="container d-flex justify-content-center">

  <div
    class="justify-content-between">

    <button
      class="btn btn-primary home-edu-select">
      IT-Supporter
    </button>

    <button
      class="btn btn-danger home-edu-select">
      Datatekniker / Infrastruktur
    </button>

    <button
      class="btn btn-success home-edu-select">
      Datatekniker / Programmering
    </button>

  </div>

</div>

<div class="container d-flex mt-5 flex-column">

  <div class="d-flex flex-column">

    <h3 class="text-center font-weight-light mb-5">Hovedforløb 1</h3>

    <a href="#" class="badge badge-default text-right text-muted">EUD, EUV eller EUX?</a>

    <app-table
      [caption]="caption"
      [headings]="headings"
      [footers]="footers"
      [columns]="columns"></app-table>

  </div>

</div>
